html {
  height: 100%;
}

body {
  background: linear-gradient(135deg, rgba(216,24,32,1), rgba(34,30,31,1));
  margin: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
